@import url('https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 3%;
  font-family: "Inconsolata", serif;
  font-size: calc(5px + 2vmin);
  color: #F9F6EE;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Horizontally centers the child element */
  align-items: center;      /* Vertically centers the child element (optional) */
  font-family: "Inconsolata", serif;
  padding-top: 5%;
}

.centered-div {
  min-width: 80%;
  padding-bottom: 5%;
}

.custom-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-nav .nav-link {
  flex: 1 1 auto; /* Allow items to grow and shrink */
  margin: 5px; /* Optional spacing between items */
}

.front-navbar {
  display: flex;
  flex-direction: row;
  padding-inline: 10%;
  font-size: 3vmin;
}

.navbar-brand.me-5 {
  margin-right: 1rem !important;
}

.nav-link.me-3 {
  margin-right: 1rem !important;
}

.Picture-Stack {
  width: 90%;
  height: 100%;
  justify-content: right;
  align-items: center;
  font-family: "Inconsolata", serif;
  font-size: 3vmin;
  border-radius: 1%;
}

.text-with-bar {
  display: flex;
  align-items: center;  /* Vertically center the text and color bar */
  justify-content: left;
}

.padding-left-5 {
  padding-left: 5%;
}

.padding-left-20 {
  padding-left: 20%;
}

.color-bar {
  width: 10px;       /* Width of the color bar */
  height: 5vh;      /* Make the color bar span the full height of the container */
  margin-right: 10px;  /* Space between the color bar and the text */
}

.orange-dynamite {
  background-color: #E85827; /* Choose any color you like */
}

.warm-red {
  background-color: #B05923;
}

.pumpkin-orange {
  background-color: #FF6700;
}

.lavender-pink {
  background-color: #FFC2E2;
}

.baker-miller-pink {
  background-color: #FF90B3;
}

.light-coral {
  background-color: #EF7A85;
}

.text {
  font-size: 3vmin;   /* Customize the text size */
}

.text-small {
  font-size: 1vmin;   /* Customize the text size */
}

.sky-blue {
  background-color: #8ACDEA;
}

.bice-blue {
  background-color: #3A6EA5;
}

.polynesian-blue {
  background-color: #004E98;
}

.klein-blue {
  background-color: #002FA7; /* Choose any color you like */
}

.prussia-blue {
  background-color: #003153;
}

.cyan {
  background-color: #81D8D0;
}

.deep-cyan {
  background-color: #008C8C;
}

.aquamarine {
  background-color: #52FFB8;
}

.kepple {
  background-color: #2EBFA5;
}

.fluorescent-cyan {
  background-color: #4DFFF3;
}

.light-gray-orange {
  background-color: #F9F6EE;
}

.licorice {
  background-color: #1E1014;
}

.burgundy-red {
  background-color: #800020;
}

.bordeaux-red {
  background-color: #4C0009;
}

.dark-pastel-orange {
  color: #8F4B28;
}

.raspberry-red {
  background-color: #CE2D4F;
}

.blush-red {
  background-color: #CE6D8B;
}

.thistle-white-red {
  background-color: #CEBBC9;
}

.Bright-Yellow {
  color: #F9DC24;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
