.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Klein-Blue {
  color: #002FA7;
}

.Prussia-Blue {
  background-color: #003153;
}

.Cyan {
  color: #81D8D0;
}

.Deep-Cyan {
  background-color: #008C8C;
}

.Orange-Dynamite {
  background-color: #E85827;
}

.Burgundy-Red {
  color: #800020;
}

.Bordeaux-Red {
  color: #4C0009;
}

.Warm-Red {
  color: #B05923;
}

.Dark-Pastel-Orange {
  color: #8F4B28;
}

.Bright-Yellow {
  color: #F9DC24;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
