.cadmium-yellow {
    background-color: #FFD700;
}
.cadmium-red {
    background-color: #E30022;
}
.warm-orange {
    background-color: #FF8C00;
}
.soft-pink {
    background-color: #FF6F61;
}
.ivory-0 {
    background-color: #FFF8DC;
}

.verona-green {
    background-color: #1E5945;
}
.ochre {
    background-color: #D1B280;
}
.muted-red {
    background-color: #8B4B4B;
}
.cool-grey {
    background-color: #5A5E5C;
}
.ivory {
    background-color: #F0EADA;
}

.emerald {
    background-color: #50C878;
}
.cobalt-blue {
    background-color: #0047AB;
}
.cobalt-violet {
    background-color: #86608E;
}
.soft-mint {
    background-color: #98FF98;
}
.lavender {
    background-color: #E6E6FA;
}

.french-vermilion {
    background-color: #E34234;
}
.geranium-lake {
    background-color: #DA3B5F;
}
.soft-coral {
    background-color: #FF6F61;
}
.deep-rose {
    background-color: #C71585;
}
.light-blush {
    background-color: #F4C2C2;
}